@import "normalize.css";
@import "components/index.css";

.restaurant-wrapper {
    padding: 20px;
}

.restaurant-name {
    font-size: 24px;
    font-weight: bold;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.ingredients {
    color: #9F9F9F;
}
/* такое чувство что в реальных проектах реактовских такую структуру стилей не используют, надеюсь на подсказку*/